{% extends "layout.html" %}
{% block title %}Add new card{% endblock %}
{% block content %}

<div class="jumbotron">
   <p class="lead">Form to add new card</p>
    <form action="/add_card" method="post">
      <input type="hidden" id="board_id" name="board_id" value="{{board_id}}">
      <Table>
       <tr style="align:middle">
        <td> <label for="card_name">Card Name</label> </td>
        <td> <input name="card_name" id = "card_name" required> </td>
       </tr>       
       <tr>
        <td> <label for="list_id">List</label> </td>
        <td>
         <select name="list_id" id="list_id">
          <option value="{{lists[0]['id']}}" selected>{{lists[0]['name']}}</option>
           {% for list in lists[1:] %}
            <option value="{{list['id']}}">{{list['name']}}</option>
           {% endfor %}
         </select>
        </td>
       </tr>
       <tr>
        <td></td>
        <td> <input type="submit" value="Add New Card"></td>
       </tr>
      </Table>
    </form>
</div>
{% endblock %}